.profile{
    max-width: 600px;
    margin: 10px auto;
}

h1{
    font-size: larger;
    font-weight: bold;
}
.profile-frame{
    display: flex;
    justify-content: space-evenly;

}

.profile-pic{
    
    height: fit-content;
}

.profile-pic > img{
    width: 160px;
    height: 160px;
    object-fit: contain;
    border-radius: 100px ;
}

.profile-data{
    text-align: left;
    margin-left: 100px;
    margin-top: 30px;
}

.profile-info{
    display: flex;
    margin-top: 10px;

}

.profile-info p{
    padding: 0px 5px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

.gallery img{
    width: 30%;
    margin: 10px;
    /* margin-right: 200px; */
}

#output{
    width:300px;
    border: none;
    outline: none;
    margin-top: 5px;
}

.followBtn{
    cursor: pointer;
    font-weight: bolder;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color:white;
    background: #0115eb;
    transition: all 0.25s ease;
    margin-left: 20px;
}


.followBtn:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px #0115eb;
}

.changePic{
    background-color: #fff;
    border-radius: 20px;
}

.changePic div{
    padding: 15px 70px;
}

.upload-btn{
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bolder;
    font-size: 15px;
}