.buttonsContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.followButton {
    background-color: #008CBA; /* Blue */
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.donateButton {
    background-color: #f44336; /* Red */
    color: white;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.eventButton {
    background-color: #4CAF50; /* Red */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.followButton:hover, .donateButton:hover {
    opacity: 0.9;
}
